.btn{
	&-primary-color{
		background-color: $primary-color;
		&:hover{
			background-color: $dark-primary-color;
			color: $opposite-font-color;
		}
	}
	&-dark-primary{
		background-color: $dark-primary-color;
		color: $opposite-font-color;
		&:hover{
			// color: $secondary-color; 
			color: $font-color;
			// background-color: $d2-primary-color;
		}
	}
	&-primary-opposite{
		background-color: $dark-primary-color;
		color: $opposite-font-color;
		&:hover{			
			background-color: $primary-color;
			color: $font-color;
		}
	}
}