.submit-button{
	@extend .btn;
	@extend .btn-dark;
	@extend .w-100;
	&--small{
		@extend .btn-sm;
		@extend .submit-button;
	}
}
.submit-button:hover{
	border-color: #23272b;
}
 
.cancel-button{
	@extend .btn;
	@extend .btn-secondary;
	@extend .w-100;
	cursor: pointer;
}

.modal-button{
	@extend .btn;
	@extend .btn-info;
	@extend .btn-sm;
	cursor: pointer;
}

.href-button{
	@extend .btn;
	@extend .btn-warning;
	background-color: #ff8716;
	border-color: #ff8716;
	cursor: pointer; 
	&--small{
		@extend .href-button;
		@extend .btn-sm;
	}
}
.href-button:hover{
	background-color: #C76911;
	border-color: #C76911;
}
