.lm-heading{
	&--top{
		margin: 0;
	}
	&--heading{

	}
	&--hr{
		width: 100%;
		border-top: 1px solid $hr-color;
		margin-bottom: 0;
	}
	&--subrow{
		@extend .mt-2;
		margin-bottom: 0;
		display: flex;
		flex-direction: row-reverse;
	}
} 